{% extends "layouts/front.twig" %}

{% block content %}	
	<div class="container">
		<h1 class="text-center">{{ project_name }}</h1>
		<div class="mb-4e">
			<span>Последнее обновление: </span> {{ date().toLocaleString("ru", { year: 'numeric', month: 'numeric', day: 'numeric'}) }}
		</div>
		<div class="row-cols-1 g-40">
			{% for key, item in page_links %}
				<div class="f-block">
					<h3 class="f-block__title">{{ key }}</h3>
					<div class="row-cols-4">
						{% for link in item %}
							<a class="f-block__link" href="{{ link.href }}">{{ link.text }}</a>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}